
# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

[[constraint]]
  name = "github.com/docker/docker"
  version = "v17.05.0-ce"

# To use reference package:
#   vendor/github.com/docker/docker/client/container_commit.go:17: undefined: reference.ParseNormalizedNamed
#   vendor/github.com/docker/docker/client/container_commit.go:25: undefined: reference.TagNameOnly
#   vendor/github.com/docker/docker/client/container_commit.go:30: undefined: reference.FamiliarName
[[override]]
  name = "github.com/docker/distribution"
  branch = "master"

[[constraint]]
  name = "github.com/pkg/errors"
  version = "0.8.0"
